<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CodePen - Avengers App</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="wrap" id="avenge">
  <div class="screen">
    <div class="homepage">
      <div class="banner-image" v-bind:style="{ backgroundImage: 'url(' + bannerImage + ')' }">
        <div class="search" @click="focusSearch">
          <i class="fas fa-search"></i>
          <input type="text" placeholder="Find Your Hero" id="search-input" @focus='toggleFocus' @blur='toggleFocus' autocomplete="off" v-model="searchString">
        </div>
      </div>

      <div class="heros">
        <div class="hero" v-for="hero in heros" v-bind:data-hero-name="hero.name" @click="selectHero(hero.id)">
          <div class="icon" v-bind:style="{backgroundPosition: hero.iconPos}"> </div>
          <p>{{hero.name}}</p>
        </div>
      </div>
    </div>

    <div class="heropage">
      <a class="go-back" @click='backToHome'><i class="fas fa-arrow-circle-left"></i></a>
      <div class="banner-image" v-bind:style="{ backgroundImage: 'url(' + activeHero.bannerImage + ')' }">
        <h1>{{activeHero.name}}<span>{{activeHero.identity}}</span></h1>
      </div>
      <div class="info">
        <p class="quote"><em>{{activeHero.quote}}</em></p>
        <div class="powers">
          <label>Durability</label>
          <div class="power-bar">
            <div v-bind:style="{width: (activeHero.powers[0]/7)*100+'%'}"></div>
          </div>
          <label>Energy</label>
          <div class="power-bar">
            <div v-bind:style="{width: (activeHero.powers[1]/7)*100 + '%'}"></div>
          </div>
          <label>Fighting Skills</label>
          <div class="power-bar">
            <div v-bind:style="{width: (activeHero.powers[2]/7)*100 + '%'}"></div>
          </div>
          <label>Intelligence</label>
          <div class="power-bar">
            <div v-bind:style="{width: (activeHero.powers[3]/7)*100 + '%'}"></div>
          </div>
          <label>Speed</label>
          <div class="power-bar">
            <div v-bind:style="{width: (activeHero.powers[4]/7)*100 + '%'}"></div>
          </div>
          <label>Strength</label>
          <div class="power-bar">
            <div v-bind:style="{width: (activeHero.powers[5]/7)*100 + '%'}"></div>
          </div>
        </div>
        <p class="bio" v-html="activeHero.bio"></p>
      </div>
    </div>

    <div class="transition">
      <span v-bind:style="{ backgroundImage: 'url(' + spanImage + ')' }"></span>
      <span v-bind:style="{ backgroundImage: 'url(' + spanImage + ')' }"></span>
      <span v-bind:style="{ backgroundImage: 'url(' + spanImage + ')' }"></span>
      <span v-bind:style="{ backgroundImage: 'url(' + spanImage + ')' }"></span>
      <span v-bind:style="{ backgroundImage: 'url(' + spanImage + ')' }"></span>     
    </div>

  </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script><script  src="./script.js"></script>

</body>
</html>
